// @import 'loaders.css/src/animations/line-scale.scss';
.card {
  // perspective: 400;
  .details, .card-image, .card-stats, .card-news {
    // transform-style: preserve-3d;
    transition: all .25s linear;
  }
  // .details,  {
  //   transition: all .15s linear;
  // }
}
$primary-color: #000;
.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
